@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #f7f7f9;
}

.first-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  margin: 0 24px;
  align-items: center;
  padding: 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  gap: 60px;
}

.nav-branding {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 18px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 24px;
  width: 80%;
  height: 100%;
  margin: 12px auto;
  background: url(images/mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bullet {
  width: 7px;
  height: 7px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #7a869a;
}

.mobile {
  display: block;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 4;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 70px;
    gap: 0;
    margin-top: -5rem;
    width: 100%;
    min-height: 650px;
    text-align: center;
    transition: 0.3s;
    background-color: #6070ff;
    z-index: 4;
    mix-blend-mode: multiply;
    opacity: 90%;
  }

  .nav-item {
    margin-top: 79px;
    gap: 2px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 24px;

    /* z-index: 5; */

    /* opacity: 100%; */
  }

  .nav-menu.active {
    left: 0;
  }
}

.desktop {
  display: none;
}

.space-1 {
  background: #dfe1e6;
}

.space-2 {
  background: #dfe1e6;
}

.intro {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
}

.content {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 24px;
  color: #344563;
  padding: 1rem 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media .supporting-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 24px;
  height: 24px;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.icon {
  display: flex;
}

.works {
  display: grid;
  align-items: center;
  padding: 114px 0;
  gap: 142px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #344563;
}

.card-works1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snap-shoot img {
  width: 100%;
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

.left-block .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.text .title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #172b4d;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

.frame .role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.frame .year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.main-text1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.tags .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .javaScript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action {
  width: 100%;
  height: 70px;
  margin: 0 auto;
}

.action .normal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

form .button {
  left: 0;
  padding-left: 12px;
  width: 170px;
  height: 50px;
  margin: 0 auto;
  font-size: 17px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.normal-button button {
  color: #396df2;
  background: #fff;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  letter-spacing: 0.03em;
  width: 200px;
  height: 100%;
  transition: all 1s ease-out;
}

.normal-button button:hover {
  color: #fff;
  background: #6070ff;
}

.card-works2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-works3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-works4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

.about-myself .top {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.top .about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  text-align: center;
}

.top .about-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #344563;
}

.top .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.top .contact {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 0;
  line-height: 24px;
  color: #7f8cff;
}

.top .social-icons {
  display: flex;
  flex-direction: row;
  padding: 0 0 36px 0;
  justify-content: flex-start;
  align-items: baseline;
}

.top .icon {
  display: flex;
}

.skill-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: -100px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow {
  position: relative;
  display: flex;
}

.down-arrow img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 190px;
  width: 30px;
  height: 40px;
}

.frame-one {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  color: #000;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

li {
  list-style-type: none;
}

.javaScript-logo,
.css-logo,
.html-logo {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  height: 100%;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.javaScript-text {
  padding-top: 74px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  flex-direction: column;
}

.html-text,
.css-text {
  padding-top: 54px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  flex-direction: column;
}

.language-list .html,
.language-list .css,
.language-list .javaScript {
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.frame-works-text {
  padding-top: 44px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.side-arrow1 {
  position: relative;
  left: 90px;
  width: 40px;
  height: 30px;
}

.side-arrow2 {
  position: relative;
  left: 125px;
  width: 40px;
  height: 30px;
}

.skills-text {
  padding-top: 34px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.last-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  overflow-y: hidden;
  background: #6070ff;
  border-top-left-radius: 55px;
}

.last-section img {
  width: 100%;
  height: 100%;
}

.last-title h3 {
  position: relative;
  left: 23px;
  top: -1400px;
  width: 60%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #fff;
}

.last-paragraph p {
  position: relative;
  top: -1380px;
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  position: relative;
  top: -1350px;
  width: 80%;
  margin: 0 auto;
  border: none;
}

form ul {
  list-style: none;
}

form li {
  padding: 10px 0;
  border: none;
}

input,
textarea {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

textarea {
  height: 172px;
}

.button button:active {
  background: lightblue;
}

.button button:hover {
  background: lightskyblue;
}

/* desktop version */

@media screen and (min-width: 768px) {
  .template {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #f4f5f7;
  }

  .first-page {
    height: 916px;
    width: 100%;
    background: #fff;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    margin-left: 48px;
    align-items: center;
    padding: 0 120px 0 24px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .nav-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin-left: 24px;
    width: 100%;
    color: #fff;

    /* z-index: 3; */
    display: flex;
  }

  .nav-branding {
    font-size: 22px;
  }

  .nav-menu a {
    color: #000;
    font-size: 16px;
  }

  .nav-link:hover {
    color: dodgerblue;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .main {
    height: 846px;
    width: 100%;
    margin: 0 auto;
    background: url(images/Header-bg.svg);
    background-repeat: no-repeat;
  }

  .main-text-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 90%;
    height: 100%;
    margin: 200px auto;
  }

  .main-text-1 .intro {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    animation-duration: 3s;
    animation-name: animation;
  }

  @keyframes animation {
    from {
      margin-left: 100%;
      width: 300%;
    }

    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .main-text-1 .content {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin-bottom: 15px;
  }

  .main-text-1 .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .social-media .supporting-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .supporting-text .contact {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #7f8cff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: -20px;
    margin-left: 65px;
    justify-content: flex-start;
    position: relative;
    top: -180px;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px 0;
    gap: 142px;
    width: 100%;
    margin: 0 auto;
  }

  .card-works1 {
    display: grid;
    background: #fff;
    gap: 142px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    width: 90%;
    height: 100%;
  }

  .snap-shoot img {
    float: left;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }

  .left-block {
    display: grid;
    width: 48%;
    float: right;
  }

  .left-block .text {
    width: 100%;
  }

  .text .title {
    font-size: 40px;
    line-height: 52px;
  }

  .frame .client {
    font-size: 18px;
  }

  .frame .role {
    font-size: 16px;
  }

  .frame .year {
    font-size: 16px;
    line-height: 24px;
  }

  .main-text1 {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .tags {
    margin-right: 10px;
  }

  .Ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .snap-shoot-1 {
    float: right;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }

  .left-block-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    float: left;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    margin-top: 24px;
    margin-left: 24px;
  }

  .card-works2 {
    display: grid;
    background: #fff;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card-works3 {
    display: grid;
    background: #fff;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #def1e6;
    border-radius: 24px;
  }

  .card-works4 {
    display: grid;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    gap: 20px;
  }

  .about-myself .top {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    float: left;
  }

  .top .about-title {
    font-size: 40px;
    line-height: 52px;
  }

  .top .about-text {
    padding: 0 25px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .top .social-icons {
    position: relative;
    display: flex;
    justify-content: flex-start;
    top: -2px;
    left: -65px;
  }

  form .button {
    width: 220px;
    margin: 0 auto;
    height: 50px;
    border-radius: 12px;
    font-size: 17px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    color: #6070ff;
    border: 1px solid #6070ff;
    transition: all 1s ease-out;
  }

  .top .button {
    color: #6070ff;
    border: 1px solid #6070ff;
    transition: all 0.5s ease-out;
  }

  .about-myself .list {
    float: left;
    width: 49%;
    height: 100%;
    margin: 0 auto;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  .space-1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #dfe1e6;
  }

  .space-2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #dfe1e6;
  }

  .down-arrow {
    position: relative;
    left: 120px;
  }

  .language-list .javaScript {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .javaScript-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: -42px;
  }

  .language-list .html {
    width: 30%;
  }

  .html-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    left: -42px;
  }

  .language-list .css {
    width: 30%;
  }

  .css-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    left: -42px;
  }

  .arrow {
    display: flex;
  }

  .down-arrow img {
    position: relative;
    left: 330px;
    display: flex;
    flex-direction: row;
  }

  .frame-works {
    width: 100%;
    height: 100%;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 12px;
  }

  .side-arrow1 {
    display: flex;
    width: 40px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    left: 225px;
    justify-content: space-between;
  }

  .side-arrow2 {
    display: flex;
    width: 40px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    left: 260px;
    justify-content: space-between;
  }

  .last-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .last-section img {
    width: 100%;
  }

  .last-section .last-title h3 {
    display: flex;
    font-size: 40px;
    line-height: 52px;
    width: 100%;
    position: relative;
    top: -450px;
    left: 550px;
  }

  .last-paragraph p {
    display: flex;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    top: -400px;
    width: 70%;
    left: 50px;
  }

  form {
    position: relative;
    top: -350px;
    width: 60%;
    margin: 0 auto;
  }

  form ul {
    list-style: none;
  }

  form li {
    padding: 10px 0;
  }

  input,
  textarea {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    font-style: normal;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 15px 16px;
    width: 100%;
    margin: 0 auto;
  }

  form .submit {
    font-size: 48px;
    font-family: "poppins", sans-serif;
    font-style: normal;
  }

  .form button:active {
    background: lightblue;
    color: #def1e6;
  }

  .form button:hover {
    background: lightskyblue;
    color: #def1e6;
  }
}

/* popup mobile */

.popup {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 114px 24px;
  color: #344563;
}

.popup-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.popup-container h2 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 100%;
  max-height: 36px;
  margin-top: 1rem;
}

.close-btn {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  right: -150px;
  top: -45px;
  cursor: pointer;
}

.popup-container .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
  gap: 12px;
  width: 100%;
  position: relative;
  top: -50px;
  margin-left: 24px;
}

.skill .campany {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #344563;
}

.skill span {
  font-size: 25px;
  color: #344563;
  position: relative;
  top: -6px;
  margin-left: -8px;
}

.skill .position {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.skill .year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #7a869a;
}

.pop-img img {
  width: 100%;
  position: relative;
  top: -38px;
}

.lorem-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  color: #344563;
  text-align: justify;
  padding: 5px 0;
  margin: 0 24px;
  position: relative;
  top: -35px;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;
  position: relative;
  top: -45px;
  gap: 8px;
  width: 100%;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.language .html {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
}

.language .css {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
}

.language .javaScript {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
}

.see-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.see-btn .live-btn {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 45%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
}

.see-btn .Source-btn {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 45%;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
}

/* End of popup */
